<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Products</h1>
    <div class="product-list">
        {% for category in categories %}
            <div class="product">
                <a href="{{ url_for('product_page', product_url=category.url) }}">
                    <img src="{{ url_for('static', filename=category.image) }}" alt="{{ category.name }}">
                    <h2>{{ category.name }}</h2>
                </a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
