<header class="header">
    <div class="containerr">
        <div class="logo">
            <a href="#" class="logo">Qalakriti</a>
        </div>
        <nav class="nav">
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#" class="login-button">Login</a>
            <a href="#" class="cart-button">Cart</a>
        </nav>
    </div>
</header>
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">